<html>
  <head>
    <meta charset="UTF-8">
    <title>PWG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="static/appcache-nanny.js"></script>
    <script>
      appCacheNanny.start()
    </script>
    <link rel="stylesheet" href="styles/style.css">
    <!-- inject:head:html -->
    <!-- endinject -->
  </head>
  <body>
    <div id="root"></div>
    <script src="scripts/bundle.js"></script>
    
  </body>
</html>
