.pwg_password {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  text-align: center;
  font-size: $font-size-base + 6;
  word-break: break-all;
}

.pwg_copy-button-container {
  text-align: center;
}