.pwg_password {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  overflow: auto;
  margin-top: $line-height-computed;
  -webkit-appearance: none;
  margin-bottom: $line-height-computed;
  text-align: center;
  font-size: $font-size-base + 6;
  word-break: break-all;
}

.pwg_copy-button-container {
  text-align: center;
}