.pwg_selected-service-container {
  max-width: 600px;
  margin: $line-height-computed * 2 auto;
  padding-left: $line-height-computed * 2;
  padding-right: $line-height-computed * 2;
}

.pwg_select-service, .pwg_input-phrase, .pwg_generate-button-container, .pwg_password {
  margin-bottom: $line-height-computed/2;
}

.pwg_errormessage {
  height: $line-height-computed;
  margin-bottom: $line-height-computed/2;
  padding-left: $padding-base-horizontal;
  color: $brand-danger;
}

.pwg_link-to-service-list {
  text-align: right;
}

ul.pwg_filtered-services {
  position: absolute;
  left: 0;
  top: -$line-height-computed/2;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
  list-style: none;

  li {
    &:hover, &:active, &.active {
      background-color: #eee;
    }
  }
}

.pwg_generate-button-container {
  text-align: center;
}